---
layout: archive
title: "talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<ul class="pub-list">
  {% for post in site.talks reversed %}
    <li class="pub-list__item">
      <p class="pub-list__title">{{ post.title }}</p>
      <p class="pub-list__venue">
        {% if post.type %}{{ post.type }} &middot; {% endif %}<em>{{ post.venue }}</em>{% if post.location %}, {{ post.location }}{% endif %}{% if post.date %} &middot; {{ post.date | date: '%B %Y' }}{% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
